#nav{
    width: 50%;
    height: 50%;
    margin: 0 auto;
    padding-top:30px ;
    box-sizing: border-box;
}
#nav img{
    width: 100%;
    height: 100%;
}


#mid{
    width: 50%;
    min-height: 1500px;
    margin: 100px auto;
}
#cart-list{
    width: 500px;
    height: 500px;
}
#cart-list li{
    width: 100%;
    height: 200px;
    display: flex;
    margin: 20px 0;
}
#cart-list li img{
    width: 100%;
    height: 100%;
}
#cart-list-Btn{
    margin-left: 550px;
}
#cart-list-Btn h2,#cart-list-Btn p{
    margin: 10px 0;
}
#cart-list-Btn>input{
    width: 150px;
    margin: 20px 0;
    background-color: white;
    border: 1px solid #444;
    height: 30px;
    text-align: center;
}
#shanchu{
    border: none;
    background-color: #0047ba;
    color: white;
    width: 150px;
    height: 30px;
}
#jiesuan{
    margin-top: 100px;
    background-color: #0047ba;
    color: white;
    width: 100px;
    height: 50px;
    position: fixed;
    right: 60px;
    bottom: 60px;
}